.form-group {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.loader.stop-animation:before {
    -webkit-animation: inherit !important;
    animation: inherit !important;
}

header.header {
    z-index: 1;
}

.tickets-item__logo img {
    margin-top: -50px;
    margin-bottom: -50px;
}